* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boton-nav {
    border: 2px solid black;

    &:hover {
        background-color: rgb(3, 51, 25);
        color: white;
    }
}

.nav-item dropdown {
    color: rgb(3, 51, 25);
}

.barranav {
    display: inline-block;
}

.index {
    div {
        &:hover {
            transform: scale(1.1);
        }
    }
    &:hover::before{
        opacity: 1;
    }
}
